<!DOCTYPE html>
<html lang="id">
    
<head>
    <meta charset="UTF-8">
    <title>Sistem Penilaian Esai</title>
</head>
<body>
    <h2>Selamat Datang di Sistem Penilaian Esai!</h2>
    <form action="/submit" method="POST">
        <label>Nama Siswa:</label><br>
        <input type="text" name="nama_siswa" required><br><br>

        {% for s in soal %}
            <div>
                <p><b>Soal {{ loop.index }}:</b> {{ s.pertanyaan }}</p>
                <textarea name="jawaban_{{ s.id }}" rows="3" cols="50" required></textarea>
            </div><br>
        {% endfor %}

        <input type="submit" value="Kumpulkan Jawaban">
    </form>
</body>
</html>
